extends layout

block content
  p Welcome to #{title}
  script(src='http://d3js.org/d3.v3.min.js')
  style.
    body {
    padding: 10px;
    min-width: 600px;
    max-width: 1200px;
    margin: auto;
    }
    #chart {
    height: 500px;
    font: 13px sans-serif;
    }
    .node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
    stroke-width: 0;
    }
    .node text {
    text-shadow: 0 1px 0 #fff;
    }
    .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
    }
  #chart
  script.
    var jsonfile = '/json/#{jsonfile}';
  script(src='/javascripts/sankey.js')
  script(src='/javascripts/sankeyview.js')
